params: "-c 1 -qps 2 -t 10m"
hub: "$SOLOHUB"
tag: "SOLOTAG"
istioctl_path: "istioctl"
test_wait: 10
clusters:
- context: "$CONTEXT"
  test_type: "tcp-throughput"
  service_port_name: "tcp"
  params: "-n 100M"
  perf_client: "nighthawk"
- context: "$CONTEXT"
  test_type: "tcp"
  service_port_name: "tcp"
  params: "-n 1K --parallel 1 --bidir"
  perf_client: "nighthawk"
- context: "$CONTEXT"
  test_type: "http"
  service_port_name: "http"
  params: "--concurrency 1 --output-format json --rps 200 --duration 10"
  perf_client: "nighthawk"